<div class="boklodaett">
        <img src="img/bokatr.png" alt="">
        <h1>17:00 - 18:00 (Tabata)</h2>
                <h1>Plats: Gråbo</h2>
                        <h2>Gruppträning varje onsdag. Ring in till gymmet när det är under bevakningstimmar för att kunna boka.
                </h1>
</div>
<div class="boklodatva">
        <img src="img/bokatr.png" alt="">
        <h1>19:30 - 20:30 (Cykelträning)</h2>
                <h1>Plats: Lerum</h2>
                        <h2>Gruppträning varje Fredag. Ring in till gymmet när det är under bevakningstimmar för att kunna boka.
</div>

<div class="boklodatre">
        <img src="img/bokatr.png" alt="">
        <h1>16:00 - 17:30 (Styrketräning)</h2>
                <h1>Plats: Gråbo</h2>
                        <h2>Gruppträning varje torsdag. Ring in till gymmet när det är under bevakningstimmar för att kunna boka.
</div>