<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="css/sida1.css">
    <title>Bionicgym</title>
</head>

<body>
    <div class="container">
        <div class="bicc">
            <img src="img/bicc.png" alt="">
        </div>
        <div class="menu">
            <i class="material-icons" onclick="toggleMenu()">clear</i>
            <div class="lodatva">
                <ul>
                    <li>
                        <a href="./boka.html">Boka träning</a>
                    </li>
                    <li>
                        <a href="./borjatrana.html">Börja träna</a>
                    </li>
                    <li>
                        <a href="./vanligafragor.html">Vanliga frågor</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav>
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </nav>
        <div class="headerlogo">
            <a href="./index.html">
                <img src="img/loggaheadernav.png" alt="">
            </a>
        </div>
        <div class="lodaett">
            <a href="file:///C:/Users/lucas.ackerberg/Documents/GitHub/Projekt-1-Webbutveckling-/Gymforseniorer/site/borjatrana.html"
                class="button buttonPrimary">Träna hos oss idag för 250kr/månad!</a>
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>

</html>