<div class="lodaettfragor">
    <p>Vad kostar ett seniormedlemskap?</p>
    <p>Ett seniormedlemskap kostar 199:- / månad och du får tillgång till alla gymmets aktiviteter, tillgångar och maskiner</p>
    <p>Är gymmet till för bara pensionärer? </p>
    <p>Nej, gymmet och webbsidan är anpassad för pensionärer/seniorer som vill börja träna men alla har tillgång och kan träna
        här
    </p>
</div>